.widget1{
    background-color: rgb(220, 134, 76);
    border-radius: 10px;
}
.widget2{
    background-color: rgb(228, 80, 80);
    border-radius: 10px;
}
.widget3{
    background-color: rgb(86, 86, 251);
    border-radius: 10px;
}
